# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# FAISS index
faiss_index/
data/faiss_index/

# Evaluation outputs
evaluation/evaluation_report.json

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/